<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdO0I947Oe58gI6z3hmBpj2mV4HV6mLJU</string>
	<key>GCM_SENDER_ID</key>
	<string>621097076279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.satubc</string>
	<key>PROJECT_ID</key>
	<string>djbc-30a88</string>
	<key>STORAGE_BUCKET</key>
	<string>djbc-30a88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621097076279:ios:7a68e038762e1afe83a1b2</string>
</dict>
</plist>